.container {
  background-image: url('../../static/desktop-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;

  @media screen and (max-width: 1050px) {
    background-image: url('../../static/mobile-bg.jpg');
  }
}

.shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.75);
}
