$primary-color: #2196f3;

.container {
  background-image: url('../../static/home.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.75);
}

.header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: #fff;
  text-align: center;
  font-size: 5vw;
  font-weight: 400;
  margin: 0;
}

.corner {
  position: absolute;
  top: -10px;
  left: -30px;

  &:last-of-type {
    transform: rotate(180deg);
    bottom: -10px;
    right: -30px;
  }

  .horizontal {
    width: 50px;
    height: 5px;
    background-color: $primary-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .vertical {
    width: 5px;
    height: 50px;
    background-color: $primary-color;
    transform: translateY(-5px);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media screen and (max-width: 1200px) {
    .horizontal {
      width: 30px;
      height: 4px;
    }

    .vertical {
      width: 4px;
      height: 30px;
      transform: translateY(-4px);
    }
  }

  @media screen and (max-width: 600px) {
    .horizontal {
      width: 20px;
      height: 3px;
    }

    .vertical {
      width: 3px;
      height: 20px;
      transform: translateY(-3px);
    }
  }
}
